<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="usr">EventId:</label>
            <input type="text" class="form-control _jsEventId" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">StandId:</label>
            <input type="text" class="form-control _jsStandId" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">DeviceId:</label>
            <input type="text" class="form-control _jsDeviceId" id="pwd">
        </div>
        <button type="button" class="btn btn-success _jsConnect">Register Device</button>
        
    </div>
    <div class="col-md-4">
        <h2>Status</h2>
        <p class="_jsStatus"></p>
    </div>
    <div class="col-md-4 _jsTransactions">
        <h2>Transactions</h2>

    </div>
</div>
