<div class="jumbotron">
    <or>
        <li>Register account at /api/Account/Register</li>
        <div class="well">
            <code>
                {
                "Email": "address",
                "Password": "pass",
                "ConfirmPassword": "pass"
                }
            </code>
        </div>
        <li>Get Token at /Token</li>
        <div class="well">
            <code>
                grant_type : password
                username : username
                password : password
            </code>
        </div>
        <li>Join event at /api/events/joinevent, use token</li>
        <div class="well">
            <code>
                {
                "EventId" : "1a5790ca-51df-4ab6-bbbb-61fa2c522718",
                "Tokens" : 4320
                }
            </code>
        </div>
        
        <li>Make Transactions at /api/Transactions</li>
        <div class="well">
            <code>
                {
                "EventId": "1a5790ca-51df-4ab6-bbbb-61fa2c522718",<br/>
                "StandId" : "23e9de8a-154d-e711-beba-fcaa14c7fe78",<br/>
                "DeviceId": "24e9de8a-154d-e711-beba-fcaa14c7fe78",<br/>
                "TokenAmount" : 128
                }
            </code>
        </div>
    </or>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="usr">EventId:</label>
            <input type="text" class="form-control _jsEventId" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">StandId:</label>
            <input type="text" class="form-control _jsStandId" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">DeviceId:</label>
            <input type="text" class="form-control _jsDeviceId" id="pwd">
        </div>
        <button type="button" class="btn btn-success _jsConnect">Register Device</button>
        
    </div>
    <div class="col-md-4">
        <h2>Status</h2>
        <p class="_jsStatus"></p>
    </div>
    <div class="col-md-4 _jsTransactions">
        <h2>Transactions</h2>

    </div>
</div>
